.background-circles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 123, 255, 0.2); /* color con transparencia */
    filter: blur(40px);
    animation: float 20s infinite alternate ease-in-out;
  }
  
  .circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 15%;
  }
  
  .circle:nth-child(2) {
    width: 300px;
    height: 300px;
    bottom: 10%;
    right: 10%;
  }
  
  .circle:nth-child(3) {
    width: 150px;
    height: 150px;
    top: 50%;
    right: 20%;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px) translateX(0px);
    }
    100% {
      transform: translateY(-20px) translateX(20px);
    }
  }  