@import "tailwindcss";
@import "flowbite/src/themes/default";
@import './assets/fonts/fonts.css';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
 
@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  .animate-fade-out {
    animation: fadeOut 0.3s ease-in-out;
  }

  /* Modal animations */
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
  }

  .animate-slideIn {
    animation: slideIn 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }

  .animate-fadeOut {
    animation: fadeOut 0.3s ease-in;
  }

  .animate-slideOut {
    animation: slideOut 0.3s cubic-bezier(0.7, 0, 0.84, 0);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-16px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    to {
      opacity: 0;
      transform: translateY(-16px) scale(0.95);
    }
  }
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('./assets/fonts/NimbusSanL-Reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('./assets/fonts/NimbusSanL-RegIta.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('./assets/fonts/NimbusSanL-Bol.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('./assets/fonts/NimbusSanL-BolIta.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'NimbusSanL', sans-serif;
}